.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 100%;
}

.login-form {
    width: 40%;
}

.loginAdmin {
    height: 87vh;
    background-color: linen;
}


/* Index*/


/*Login*/

.login {
    position: relative;
}

.login-list {
    position: absolute;
    width: 226px;
    top: 39px;
    left: -201px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
    background-color: #fff;
    z-index: 10;
}

.open>.login-list {
    display: block;
}